@media (min-width:1280px) {
    .picture{
        right: 0;
        position: absolute;
        z-index: 800;
        width: 68rem;
    }
    .picture-layout{
        position: absolute;
        z-index: 900;
        width: 100vw;
        display: flex;
        flex-direction: row;
    }
    .picture-layout .geometric {
        left: 0;
    }
    .picture-layout .sun {
        width: 35rem;
        right: 17rem;
    }
    .picture-layout .shadows{
        width: 90vw;
        height: 65rem;
        right: 3rem;
    }
    .my-face{
        width: 18rem;
        z-index: 990;
    }
    .second-page-picture{
        position: absolute;
        z-index: 990;
        width: 60rem;
    }
    .blob-picture{
        width: 43rem;
        right: 8rem;
    }
    .sphere-picture{
        z-index: 1000;
        width: 28rem;
        top: 40rem;
        right: 41.7rem;
    }
    .portfolio-background-images{
        position: relative;
    }
    .portfolio-shadows-picture{
        height: 120rem;
        position: absolute;
        right: 3rem;
    }
    .portfolio-geometric-picture{
        width: 77rem;
        height: 57rem;
        position: absolute;
        right: 2rem;
        top: 1rem;
    }
    .portfolio-sphere {
        position: absolute;
        z-index: 990;
    }
    #orange-sphere{
        left: 0;
    }
    #purple-sphere{
        right: 0;
    }
    #pink-sphere{
        left: 0;
    }
}